<div class="container">
  <div class="navbar navbar-default text-center">
    <div class='row'>
      <h1>Welcome to Robot World</h1>
    </div>
  </div>
</div>

<div class="container">
  <ul>
    <div class='col-md-6 text-center'>
      <h3>Would you like to see the robot roster?</h3>
      <li class='btn btn-info'><a href="/robots">Robot Roster</a></li>
    </div>
    <div class='col-md-6 text-center'>
      <h3> Or, create a new robot?</h3>
      <li class='btn btn-info'><a href="/robots/new">New Robot</a></li>
    </div>
  </ul>
</div>
