<form action="/robots" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Create a new robot:</label><br/>
    <input type='text' name='robot[title]' placeholder="Title"><br/>
    <input type='text' name='robot[description]' placeholder="Description"><br/>
    <button type="icsubmit" class="btn btn-default">Submit</button>
  </div>
</form>
