
<div class="container">
  <div class="row">
    <div class='col-md-4 text-center'>
      <label for="basic-url">Create a new robot:</label>
      <div class="input-group">
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name='robot[title]' placeholder="Name"><br/>

        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name='robot[city]' placeholder="City"><br/>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name='robot[state]' placeholder="State"><br/>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name='robot[avatar]' placeholder="Avatar"><br/>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name='robot[birthday]' placeholder="Birthday"><br/>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name='robot[date_hired]' placeholder="Date Hired"><br/>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name='robot[department]' placeholder="Department"><br/><br/>

        <button type="icsubmit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </div>
</div>
