<form action="/robots" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Enter a new task:</label><br/>
    <input type="text" name='robot[name]' placeholder="Name"><br/>
    <input type="text" name='robot[city]' placeholder="City"><br/>
    <input type="text" name='robot[state]' placeholder="State"><br/>
    <input type="text" name='robot[avatar]' placeholder="Avatar"><br/>
    <input type="text" name='robot[birthday]' placeholder="Birthday"><br/>
    <input type="text" name='robot[date_hired]' placeholder="Date Hired"><br/>
    <input type="text" name='robot[department]' placeholder="Department"><br/><br/>
    <button type="icsubmit" class="btn btn-default">Submit</button>
  </div>
</form>
