<div class="container">
  <div class='navbar navbar-default'>
    <a href="/robots">Robot Roster</a>
  </div>
  <div class = 'row text-center'>
    <h1><%= @robot.title %></h1>
    <p><%= @robot.description %></p>
  </div>
</div>
