<div class="container">
    <div class="text text-center">
      <div class='row'>
        <h1>RoboStats</h1>
    </div>
  </div>

  <ul>
    <div class='col-md-4 text-center'>
      <img class="media-object" src="https://robohash.org/frack.png" alt="Welcome Robot" style="width:250px;height:250px;">
      <h3>Average Robot Age</h3>
      <li class='btn btn-info'><a href="/robots">Average Age</a></li>
    </div>
    <div class='col-md-4 text-center'>
      <img class="media-object" src="https://robohash.org/grrr.png" alt="Welcome Robot" style="width:250px;height:250px;">
      <h3>Robots Hired Per Year</h3>
      <li class='btn btn-info'><a href="/robots">Employment</a></li>
    </div>
    <div class='col-md-4 text-center'>
      <img class="media-object" src="https://robohash.org/moohaha.png" alt="Welcome Robot" style="width:250px;height:250px;">
      <h3>Top Dept. and Location</h3>
      <li class='btn btn-info'><a href="/robots">Job & Location</a></li>
    </div>
  </ul>

</div>
